html {
    background: #555;
}

#content {
    background: red;
}

#content #header {
    background: yellow;
}

#content #control-panel {
    background: orange;
}

#content #stream-panel {
    background: blue;
}

#content #stream-panel #stream-window {
    background: #000;
}

#content #footer {
    background: green;
}